@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us</h2>
<address>
    Near PNB Bank<br />
    Rajasthan, RJ- 335803 <br />
    <abbr title="Phone">9928750358</abbr>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">ankitjain0029@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">ankitkan1197@gmail.com</a>
</address>